body {
    font-family: 'Arial', sans-serif;
}

.w3-container {
    padding: 16px;
}

.w3-card-4 {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .w3-card-4 {
        width: 100%;
    }
}
